<template>
  <f7-page id="login-page" hide-toolbar-on-scroll no-toolbar>
    <f7-block>
      <div class="logo-holder">
        <img class="logo" :src="'static/logo-white.png'" alt="logo" />
      </div>
      <alert-message :messages="errors"></alert-message>

      <div class="list">
        <ul>
          <li class="item-content item-input item-input-outline">
            <div class="item-inner">
              <div class="item-title item-floating-label">Email</div>
              <div class="item-input-wrap">
                <input type="text" v-model="form.email" />
              </div>
            </div>
          </li>
          <li class="item-content item-input item-input-outline">
            <div class="item-inner">
              <div class="item-title item-floating-label">Password</div>
              <div class="item-input-wrap">
                <input type="password" v-model="form.password" />
              </div>
            </div>
          </li>
          <f7-list-button title="Sign In" login-screen-close @click="login" class="primary"></f7-list-button>
        </ul>
      </div>
      <div class="register">
        <p align="center">
          Doesn't have an account yet?
          <a href="#" @click="register()">Register here</a>
        </p>
      </div>
    </f7-block>
  </f7-page>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import { required, minLength } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      form: {},
      errors: []
    };
  },
  computed: {
    ...mapGetters(["getUser"])
  },
  methods: {
    ...mapMutations(["setUser"]),
    register() {
      this.$f7router.navigate("/register/");
    },
    login() {
      this.errors = [];
      this.$v.$touch();
      if (this.$v.$invalid) {
        _.each(this.$v.form.$params, (value, key) => {
          if (!this.$v.form[key].required) {
            this.errors.push({
              title: key,
              body: "Field is required",
              type: "danger"
            });
          }
        });
      } else {
        axios
          .post("https://kensington.holbornassets.com/api/login", this.form)
          .then(response => {
            if (response.data.success) {
              let user = {
                fname: response.data.result.userInfo.fname,
                lname: response.data.result.userInfo.lname,
                username: response.data.result.userInfo.username
              };
              this.setUser(user);
              this.$f7router.navigate("/home/");
            } else {
              this.errors.push({
                title: "Sign-in failed",
                body: response.data.message,
                type: "danger"
              });
            }
          });
      }
    }
  },
  validations: {
    form: {
      email: {
        required
      },
      password: {
        required
      }
    }
  }
};
</script>
