<template>
  <div id="bank-account-view">
    <f7-block-title small class="fw-700 color-navy text-align-center"
      >BANK ACCOUNT</f7-block-title
    >
    <f7-block>
      <div class="list  accordion-list">
        <ul>
          <li class="swipeout accordion-item">
            <div class="swipeout-content">
              <a href="#" class="item-content item-link">
                <div class="item-inner">
                  <div class="item-title">
                    <span>
                      <b>Bank of the Philippine Island</b>
                      <br />
                      <small>0000-0000-00</small>
                    </span>
                  </div>
                </div>
              </a>
              <div class="accordion-item-content">
                <div class="block">
                  <hr />
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Account Name:</td>
                        <td class="text-align-right">Juan Dela Cruz</td>
                      </tr>
                      <tr>
                        <td>IBAN Number:</td>
                        <td class="text-align-right">00000</td>
                      </tr>
                      <tr>
                        <td>Swift Code:</td>
                        <td class="text-align-right">000000</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="swipeout-actions-right">
              <a href="#"><f7-icon md="f7:square_pencil"></f7-icon></a>
              <a href="#" class="swipeout-delete"
                ><f7-icon md="f7:trash_fill"></f7-icon
              ></a>
            </div>
          </li>
        </ul>
      </div>
    </f7-block>
    <f7-block class="text-align-center">
      <a href="#" class="color-navy">Add Bank Account</a>
    </f7-block>
  </div>
</template>
