<template>
  <div>
    <f7-block-title small class="fw-700 color-navy text-align-center"
      >PERSONAL DOCUMENT</f7-block-title
    >
    <f7-block>
      <div class="list">
        <ul>
          <input-upload title="Passport Id"></input-upload>
          <input-upload title="Proof of Address"></input-upload>
        </ul>
      </div>
      <f7-button class="primary" fill>UPLOAD</f7-button>

      <div class="background ">
        <p class="notif">
          ONLY UPLOAD UNEXPIRE AND VALID DOCUMENTS.
        </p>
      </div>
    </f7-block>
  </div>
</template>
<script>
import InputUpload from "../../components/tools/input-upload";
export default {
  components: {
    InputUpload
  }
};
</script>
