<template>
  <div>
    <f7-block-title small class="fw-700 color-navy text-align-center">STATEMENT PERIOD</f7-block-title>
    <f7-block>
      <f7-list>
        <f7-list-input
          outline
          label="Email Address"
          type="text"
          floating-label
          placeholder="Email Address"
        ></f7-list-input>

        <f7-list-button class="primary" fill>CHANGE PASSWORD</f7-list-button>
      </f7-list>
    </f7-block>
  </div>
</template>
<script>
export default {
  data() {
    return {
      countries: []
    };
  },
  mounted() {
    this.getCountries();
  },
  methods: {
    getCountries() {
      axios.get("https://restcountries.eu/rest/v2/all").then(response => {
        this.countries = response.data;
      });
    }
  }
};
</script>
