<template>
  <div>
    <f7-block-title small class="fw-700 color-navy text-align-center">STATEMENT PERIOD</f7-block-title>
    <f7-block>
      <f7-list>
        <f7-list-input
          outline
          label="How Frequent?"
          type="select"
          defaultValue="Annually"
          placeholder="How Frequent?"
        >
          <option value="Annually">Annually</option>
          <option value="Monthly">Monthly</option>
        </f7-list-input>
        <f7-list-input
          outline
          label="Commencement Date"
          type="select"
          defaultValue="1"
          placeholder="Commencement Date"
        >
          <option value="1">January</option>
          <option value="2">February</option>
        </f7-list-input>
      </f7-list>
    </f7-block>
    <f7-block>
      <f7-button class="primary" fill>UPDATE</f7-button>
    </f7-block>
  </div>
</template>
