<template>
  <div>
    <f7-block-title small class="fw-700 color-navy text-align-center">TAX RESIDENCY</f7-block-title>
    <f7-block
      class="color-navy"
    >Tax regulation require us to collect certain information about each envestor's tax arrangement. Please indicate all countries in which you are resident for tax purposes and the associated Tax Reference Numbers below.</f7-block>
    <f7-block
      class="color-navy"
    >If you are a US citizen or resident, please include United States in this table along with your US Tax identification Number.</f7-block>
    <f7-block
      class="color-navy"
    >Plase select your country/countries of tax residency and enter the associated Tax Reference Number. If you have any questions about how to complete this form please contact your tax adviser.</f7-block>
    <f7-list>
      <f7-list-input outline label="Country" defaultValue="0" floating-label type="select">
        <option value="0">Select Country</option>
        <option v-for="(country, key) in countries" :key="key" :value="key">
          {{
          country.name
          }}
        </option>
      </f7-list-input>
      <f7-list-input
        outline
        label="Tax Identification Number"
        type="text"
        placeholder="Tax Identification Number"
      ></f7-list-input>
    </f7-list>
    <f7-block>
      <f7-button class="primary" fill>UPDATE</f7-button>
    </f7-block>
  </div>
</template>
<script>
export default {
  data() {
    return {
      countries: []
    };
  },
  mounted() {
    this.getCountries();
  },
  methods: {
    getCountries() {
      axios.get("https://restcountries.eu/rest/v2/all").then(response => {
        this.countries = response.data;
      });
    }
  }
};
</script>