<template>
  <div class="block">
    <f7-block-title small class="fw-700 color-navy text-align-center">PERSONAL INFORMATION</f7-block-title>
    <f7-list>
      <f7-list-input outline label="Firstname" floating-label type="text" placeholder="Firstname"></f7-list-input>
      <f7-list-input outline label="Lastname" floating-label type="text" placeholder="Lastname"></f7-list-input>
      <f7-list-input
        outline
        label="Telephone Number"
        floating-label
        type="text"
        placeholder="Telephone Number"
      ></f7-list-input>
      <f7-list-input
        outline
        label="Cellphone Number"
        floating-label
        type="text"
        placeholder="Cellphone Number"
      ></f7-list-input>
      <f7-list-input outline label="Address 1" floating-label type="text" placeholder="Address 1"></f7-list-input>
      <f7-list-input outline label="Address 2" floating-label type="text" placeholder="Address 2"></f7-list-input>
      <f7-list-input outline label="Address 3" floating-label type="text" placeholder="Address 3"></f7-list-input>
      <f7-list-input outline label="Town/City" floating-label type="text" placeholder="Town/City"></f7-list-input>
      <f7-list-input outline label="Country" defaultValue="0" floating-label type="select">
        <option value="0">Select Country</option>
        <option v-for="(country, key) in countries" :key="key" :value="key">
          {{
          country.name
          }}
        </option>
      </f7-list-input>
      <f7-list-input
        outline
        label="Currency"
        :defaultValue="1"
        floating-label
        type="select"
        placeholder="Currency"
      >
        <option value="1">USD</option>
        <option value="2">GBP</option>
      </f7-list-input>
    </f7-list>
    <f7-block>
      <f7-button class="primary" fill>UPDATE</f7-button>
    </f7-block>
  </div>
</template>
<script>
export default {
  data() {
    return {
      countries: []
    };
  },
  mounted() {
    this.getCountries();
  },
  methods: {
    getCountries() {
      axios.get("https://restcountries.eu/rest/v2/all").then(response => {
        this.countries = response.data;
      });
    }
  }
};
</script>
