<template>
  <div>
    <div class="block">
      <h3 class="text-align-center">CONFIRM INVESTMENTS</h3>
      <table class="table">
        <tbody>
          <tr>
            <td>INVESTMENT ACCOUNT:</td>
            <td class="text-align-right">
              <b>#1643713884</b>
            </td>
          </tr>
          <tr>
            <td>FUND NAME:</td>
            <td class="text-align-right">
              <b>#1643713884</b>
            </td>
          </tr>
          <tr>
            <td>PAYMENT TYPE:</td>
            <td class="text-align-right">
              <b>Primary Account(1234223)</b>
            </td>
          </tr>
          <tr>
            <td>AMOUNT OF INVESTMENTS:</td>
            <td class="text-align-right">
              <b>Balance Equity Fund USD</b>
            </td>
          </tr>
          <tr>
            <td>CREDIT OR DEBIT CARD:</td>
            <td class="text-align-right">
              <b>282.23</b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="block background p-10">
      <h3 class="text-align-center">
        <b>FUND DETAILS</b>
      </h3>
      <table class="table">
        <tbody>
          <tr>
            <td>FUND NAME:</td>
            <td class="text-align-right">
              <b>#1643713884</b>
            </td>
          </tr>
          <tr>
            <td>AMOUNT OF INVESTMENTS:</td>
            <td class="text-align-right">
              <b>$3123</b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="block">
      <f7-button @click="next" class="secondary" fill>Confirm</f7-button>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      countries: []
    };
  },

  methods: {
    next() {
      this.$emit("next");
    }
  }
};
</script>
