<template>
  <div>
    <f7-list>
      <f7-list-input
        outline
        label="Investment Account"
        defaultValue="0"
        floating-label
        type="select"
      >
        <option value="0">Select Investment Account</option>
      </f7-list-input>
      <f7-list-input outline label="Fund Name" defaultValue="0" floating-label type="select">
        <option value="0">Select Fund Name</option>
      </f7-list-input>

      <f7-list-input outline label="Payment Type" defaultValue="0" floating-label type="select">
        <option value="0">Select Payment Type</option>
      </f7-list-input>
      <f7-list-input
        outline
        label="Amount of Investment"
        :defaultValue="1"
        floating-label
        type="select"
        placeholder="Amount of Investment"
      >
        <option value="1">Select Amount Of Investment</option>
      </f7-list-input>
    </f7-list>
    <f7-block>
      <f7-button @click="next()" class="secondary" fill>Next</f7-button>
    </f7-block>
  </div>
</template>
<script>
export default {
  methods: {
    next() {
      this.$emit("next");
    }
  }
};
</script>