<template>
  <div>
    <f7-list>
      <f7-list-input outline label="Email" floating-label type="text" placeholder="Email"></f7-list-input>
    </f7-list>
    <f7-block>
      <f7-button @click="next()" class="secondary" fill>Proceed</f7-button>
    </f7-block>
  </div>
</template>
<script>
export default {
  methods: {
    next() {
      this.$emit("next");
    }
  }
};
</script>