<template>
  <f7-page hide-toolbar-on-scroll>
    <f7-navbar title="Purchase" back-link="Back"></f7-navbar>
    <stepper ref="stepperComponent" :steps="steps" :stepCount="4">
      <div class="item item-1">
        <investment @next="next(2)"></investment>
      </div>
      <div class="item item-2">
        <review @next="next(3)"></review>
        <br />
        <br />
      </div>
      <div class="item item-3">
        <payment @next="next(4)"></payment>
      </div>
      <div class="item item-4">
        <confirm></confirm>
      </div>
    </stepper>
  </f7-page>
</template>
<script>
import Stepper from "../../../components/tools/stepper";
import Investment from "./investments";
import Review from "./review";
import Payment from "./payment-information";
import Confirm from "./confirm-investments";
export default {
  components: {
    Stepper,
    Investment,
    Review,
    Payment,
    Confirm
  },
  data() {
    return {
      countries: [],
      steps: [
        "Investment",
        "Review and Declare",
        "Payment Information",
        "Confirm Investments"
      ]
    };
  },
  mounted() {
    this.getCountries();
  },
  methods: {
    getCountries() {
      axios.get("https://restcountries.eu/rest/v2/all").then(response => {
        this.countries = response.data;
      });
    },
    next(value) {
      this.$refs.stepperComponent.next(value);
    }
  }
};
</script>
