<template>
  <div id="review">
    <div class="block">
      <h3>FUND DETAILS</h3>
      <table class="table">
        <tbody>
          <tr>
            <td>FUND NAME:</td>
            <td class="text-align-right">#1643713884</td>
          </tr>
          <tr>
            <td>AMOUNT OF INVESTMENTS:</td>
            <td class="text-align-right">$3123</td>
          </tr>
        </tbody>
      </table>

      <f7-block-title small class="fw-700 color-navy text-align-center">DECLARATIONS</f7-block-title>
      <h4 class="color-navy">General (Temporary **Sample base on FundSmith)</h4>

      <ul>
        <li>The inforamtion given in this application form is correct to the best of my/our knowledge and belief</li>
        <li>I am the beneficial owners of this investment.</li>
        <li>I accept that, in accordance with the money laudering regulations, FundSmith LLP may require additinal information from me and I acknowledge that electronic data sources may be used to check indentity.</li>
        <li>I have a copy of the key Investor Information Document and the Supplementary Information Document and have kept them for my records</li>
      </ul>

      <div class="list">
        <ul>
          <f7-list-item
            checkbox
            title="I AGREE TO THE ABOVE STATEMENT"
            name="demo-checkbox"
            checked
          ></f7-list-item>
        </ul>
      </div>

      <h5 class="text-align-center">
        Please ensure that you have cleared funds
        <br />in your bank accoun before continuing with your investment.
      </h5>

      <f7-button @click="next" class="secondary" fill>Next</f7-button>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      countries: []
    };
  },

  methods: {
    next() {
      this.$emit("next");
    }
  }
};
</script>
