<template>
  <f7-page id="login" ref="login" login-screen no-toolbar>
    <f7-login-screen-title>
      <img class="logo" :src="'static/logo-white.png'" alt="logo" />
    </f7-login-screen-title>
    <f7-block>
      <f7-list>
        <f7-list-button title="Sign In" login-screen-close @click="openLoginPage" class="primary"></f7-list-button>
        <f7-list-button title="Register" class="bg-white" fill @click="openRegisterPage"></f7-list-button>
      </f7-list>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  methods: {
    openLoginPage() {
      this.$f7router.navigate("/login/");
    },
    openRegisterPage() {
      this.$f7router.navigate("/register/");
    }
  }
};
</script>

<style lang="scss" scoped>
</style>