<template>
  <f7-page hide-bars-on-scroll>
    <!-- Top Navbar -->
    <nav-bar title="History"></nav-bar>
    <!-- Page content-->
    <!-- Timeline -->
    <div class="timeline">
      <!-- Timeline item -->
      <div class="timeline-item">
        <div class="timeline-item-date">
          23
          <small>DEC</small>
        </div>
        <div class="timeline-item-divider"></div>
        <div class="timeline-item-content">
          <div class="timeline-item-time">7:50:00 AM</div>
          <div class="timeline-item-title">
            <small>TYPE:</small> Purchase
          </div>
          <div class="timeline-item-subtitle">
            <f7-button link popupOpen="#my-popup" class="modal-link">Primary Account (#13424323)</f7-button>
          </div>
          <div class="timeline-item-title">
            <small>FUND NAME:</small> Balance Equity Fund GBP
          </div>
        </div>
      </div>
      <!-- Timeline item with inner -->
      <div class="timeline-item">
        <div class="timeline-item-date">
          23
          <small>DEC</small>
        </div>
        <div class="timeline-item-divider"></div>
        <div class="timeline-item-content">
          <div class="timeline-item-time">7:50:00 AM</div>
          <div class="timeline-item-title">
            <small>TYPE:</small> Purchase
          </div>
          <div class="timeline-item-subtitle">
            <f7-button link popupOpen="#my-popup" class="modal-link">Primary Account (#13424323)</f7-button>
          </div>
          <div class="timeline-item-title">
            <small>FUND NAME:</small> Balance Equity Fund GBP
          </div>
        </div>
      </div>
      <!-- Timeline item with special timeline elements -->
      <div class="timeline-item">
        <div class="timeline-item-date">
          23
          <small>DEC</small>
        </div>
        <div class="timeline-item-divider"></div>
        <div class="timeline-item-content">
          <div class="timeline-item-time">7:50:00 AM</div>
          <div class="timeline-item-title">
            <small>TYPE:</small> Purchase
          </div>
          <div class="timeline-item-subtitle">
            <f7-button link popupOpen="#my-popup" class="modal-link">Primary Account (#13424323)</f7-button>
          </div>
          <div class="timeline-item-title">
            <small>FUND NAME:</small> Balance Equity Fund GBP
          </div>
        </div>
      </div>
      <!-- Timeline item with special timeline elements and inner -->
      <div class="timeline-item">
        <div class="timeline-item-date">
          23
          <small>DEC</small>
        </div>
        <div class="timeline-item-divider"></div>
        <div class="timeline-item-content">
          <div class="timeline-item-time">7:50:00 AM</div>
          <div class="timeline-item-title">
            <small>TYPE:</small> Purchase
          </div>
          <div class="timeline-item-subtitle">
            <f7-button link popupOpen="#my-popup" class="modal-link">Primary Account (#13424323)</f7-button>
          </div>
          <div class="timeline-item-title">
            <small>FUND NAME:</small> Balance Equity Fund GBP
          </div>
        </div>
      </div>
      <!-- Timeline item with multiple events per day  -->
      <div class="timeline-item">
        <div class="timeline-item-date">
          23
          <small>DEC</small>
        </div>
        <div class="timeline-item-divider"></div>
        <div class="timeline-item-content">
          <div class="timeline-item-time">7:50:00 AM</div>
          <div class="timeline-item-title">
            <small>TYPE:</small> Purchase
          </div>
          <div class="timeline-item-subtitle">
            <f7-button link popupOpen="#my-popup" class="modal-link">Primary Account (#13424323)</f7-button>
          </div>
          <div class="timeline-item-title">
            <small>FUND NAME:</small> Balance Equity Fund GBP
          </div>
        </div>
      </div>
      <!-- Timeline item with multiple events (inners) per day -->
      <div class="timeline-item">
        <div class="timeline-item-date">
          23
          <small>DEC</small>
        </div>
        <div class="timeline-item-divider"></div>
        <div class="timeline-item-content">
          <div class="timeline-item-time">7:50:00 AM</div>
          <div class="timeline-item-title">
            <small>TYPE:</small> Purchase
          </div>
          <div class="timeline-item-subtitle">
            <f7-button link popupOpen="#my-popup" class="modal-link">Primary Account (#13424323)</f7-button>
          </div>
          <div class="timeline-item-title">
            <small>FUND NAME:</small> Balance Equity Fund GBP
          </div>
        </div>
      </div>
      <!-- Timeline item with Card -->
      <div class="timeline-item">
        <div class="timeline-item-date">
          23
          <small>DEC</small>
        </div>
        <div class="timeline-item-divider"></div>
        <div class="timeline-item-content">
          <div class="timeline-item-time">7:50:00 AM</div>
          <div class="timeline-item-title">
            <small>TYPE:</small> Purchase
          </div>
          <div class="timeline-item-subtitle">
            <f7-button link popupOpen="#my-popup" class="modal-link">Primary Account (#13424323)</f7-button>
          </div>
          <div class="timeline-item-title">
            <small>FUND NAME:</small> Balance Equity Fund GBP
          </div>
        </div>
      </div>
    </div>
  </f7-page>
</template>
<script>
import NavBar from "../components/tools/nav-bar";
export default {
  components: {
    NavBar
  },
  props: {
    title: {
      value: String,
      default: ""
    }
  }
};
</script>
