<template>
  <f7-page id="settings" hide-toolbar-on-scroll name="settings" ptr @ptr:refresh="loadMore">
    <nav-bar title="Overview"></nav-bar>
    <div class="block">
      <div v-for="(i, key) in count" :key="key" class="list accordion-list">
        <ul>
          <div class="divider-top"></div>
          <li class="accordion-item">
            <a href="#" class="item-content item-link">
              <div class="item-inner">
                <div>
                  <p class="item-title">account</p>
                  <p class="fund-name">Balance Equity Fund GBP</p>
                  <p class="price">
                    $41.21
                    <span class="date">( 04/07/2019 )</span>
                  </p>
                </div>
              </div>
            </a>
            <div class="accordion-item-content">
              <div class="block">
                <div class="divider-overview"></div>
                <p class="account">Primary Account (1142644)</p>
                <f7-row>
                  <f7-col>
                    <p class="sub">Number of Shares:</p>
                  </f7-col>
                  <f7-col>
                    <p class="value">38.42</p>
                  </f7-col>
                </f7-row>
                <f7-row>
                  <f7-col>
                    <p class="sub">Current Value:</p>
                  </f7-col>
                  <f7-col>
                    <p class="value">$ 1,583.29</p>
                  </f7-col>
                </f7-row>
                <f7-row>
                  <f7-col width="60">
                    <p class="sub">Net Sum of Investments:</p>
                  </f7-col>
                  <f7-col width="40">
                    <p class="value">$ 221.00</p>
                  </f7-col>
                </f7-row>
                <f7-row>
                  <f7-col>
                    <p class="sub">Increase:</p>
                  </f7-col>
                  <f7-col>
                    <p class="value">
                      <span class="value">
                        $ 1,372.29 (86.67%)
                        <f7-icon f7="arrow_up"></f7-icon>
                      </span>
                    </p>
                  </f7-col>
                </f7-row>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </f7-page>
</template>

<script>
import NavBar from "../components/tools/nav-bar";
export default {
  components: {
    NavBar
  },
  props: {
    title: {
      value: String,
      default: ""
    }
  },
  data() {
    return {
      count: 1
    };
  },
  methods: {
    loadMore(done) {
      setTimeout(() => {
        this.count += 2;

        done();
      }, 1000);
    }
  }
};
</script>
