<template>
  <f7-page id="notification" no-toolbar>
    <f7-navbar title="Notification" back-link="Back"></f7-navbar>
    <f7-block>
      <p class="time">This week</p>

      <div class="card" @click="popupOpen()">
        <p class="subject">Purchased Referrence (#1643713884)</p>

        <p class="date">21/10/2019 14:50:00</p>
      </div>
      <div class="card" @click="popupOpen()">
        <p class="subject">Purchased Referrence (#1643713884)</p>

        <p class="date">21/10/2019 14:50:00</p>
      </div>
      <div class="card" @click="popupOpen()">
        <p class="subject">Purchased Referrence (#1643713884)</p>

        <p class="date">21/10/2019 14:50:00</p>
      </div>
      <p class="time">Previous week</p>

      <div class="card" @click="popupOpen()">
        <p class="subject">Purchased Referrence (#1643713884)</p>

        <p class="date">21/10/2019 14:50:00</p>
      </div>
      <div class="card" @click="popupOpen()">
        <p class="subject">Purchased Referrence (#1643713884)</p>

        <p class="date">21/10/2019 14:50:00</p>
      </div>
    </f7-block>

    <f7-popup ref="popup" id="notification-body" swipe-to-close>
      <f7-view>
        <f7-page>
          <f7-navbar title="Email Verification" class="redemption" back-link="Back">
            <f7-nav-left>
              <f7-link popup-close></f7-link>
            </f7-nav-left>
            <!-- <f7-nav-right></f7-nav-right> -->
          </f7-navbar>
          <div class="block">
            <div class="card">
              <p class="subject">
               <f7-row>
                 <f7-col width="20"> <p>Subject:</p></f7-col>
               <f7-col width="80"><p class="subject">Subject: Email Verification </p><p class="receiver">To: sample@gmail.com </p></f7-col>
               </f7-row>
              </p>
            </div>
            <div class="card">
              <p class="name">Dear <span>Tina Moran</span>,</p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Tempora iste possimus quasi unde commodi tempore animi minus
                repudiandae earum ipsam reprehenderit dicta iusto, sit eum
                impedit rem, dolores dolore? Sed!
              </p>
              <p>
                Email Verification Key:
                <span>D1wOUVCtp1ewNxQDn1bnEzBL5RhqoanDJEqfdrwm</span>
              </p>
              <p>
                If you've closed the page, you can complete this step by
                clicking on or copying and pasting the following link into your
                internet browser:
              </p>

              <f7-link target="#" class="s">Click this link</f7-link>
              <p>
                For more Inquiries about Kensington Fund you may send us and
                email @
                <f7-link class="s">kensington@holbornassets.com</f7-link>
              </p>
            </div>
          </div>
        </f7-page>
      </f7-view>
    </f7-popup>
  </f7-page>
</template>
<script>
export default {
  methods: {
    popupOpen() {
      //                alert(1)
      this.$refs.popup.open();
    }
  }
};
</script>
