<template>
  <f7-page id="profile" hide-toolbar-on-scroll>
    <!-- Top Navbar -->
    <nav-bar title="Profile"></nav-bar>

    <f7-block strong class="profile-block">
      <img :src="getImage()" width="70%" class="profile-photo" alt="profile" />
      <h2 class="user-name">
        {{ getUser.fname + " " + getUser.lname }}
        <br />
      </h2>
    </f7-block>

    <f7-block class="tab-links">
      <f7-toolbar tabbar scrollable large>
        <a class="tab-link" href="#update-profile">
          <f7-icon md="f7:person"></f7-icon>
          <span class="color-navy">Profile</span>
        </a>

        <a class="tab-link" href="#bank-acount">
          <f7-icon md="material:account_balance"></f7-icon>
          <span class="color-navy">
            Bank
            <br />Account
          </span>
        </a>
        <a class="tab-link" href="#statement-period">
          <f7-icon md="f7:calendar"></f7-icon>
          <span class="color-navy">
            Statement
            <br />Period
          </span>
        </a>
        <a class="tab-link" href="#personal-document">
          <f7-icon md="f7:book"></f7-icon>
          <span class="color-navy">
            Personal
            <br />Documents
          </span>
        </a>
        <a class="tab-link" href="#tax-residency">
          <f7-icon md="f7:gear"></f7-icon>
          <span class="color-navy">
            Tax
            <br />Residency
          </span>
        </a>
        <a class="tab-link" href="#security-settings">
          <f7-icon md="f7:gear"></f7-icon>
          <span class="color-navy">
            Security
            <br />Settings
          </span>
        </a>
      </f7-toolbar>
    </f7-block>

    <f7-block id="profile-tabs">
      <div class="tabs-animated-wrap">
        <div class="tabs">
          <div
            class="tab tab-active"
            @tab:show="updateTab('update-profile')"
            id="update-profile"
          >
            <update-profile
              v-if="activeTab == 'update-profile'"
            ></update-profile>
          </div>
          <div
            class="tab"
            id="bank-acount"
            @tab:show="updateTab('bank-acount')"
          >
            <bank-account v-if="activeTab == 'bank-acount'"></bank-account>
          </div>
          <!-- Third tab -->
          <div
            class="tab"
            @tab:show="updateTab('statement-period')"
            id="statement-period"
          >
            <statement-period
              v-if="activeTab == 'statement-period'"
            ></statement-period>
          </div>
          <div
            class="tab"
            id="personal-document"
            @tab:show="updateTab('personal-document')"
          >
            <personal-document
              v-if="activeTab == 'personal-document'"
            ></personal-document>
          </div>
          <!-- Third tab -->
          <div
            class="tab"
            id="tax-residency"
            @tab:show="updateTab('tax-residency')"
          >
            <tax-residency v-if="activeTab == 'tax-residency'"></tax-residency>
          </div>
          <!-- Third tab -->
          <div
            class="tab"
            id="security-settings"
            @tab:show="updateTab('security-settings')"
          >
            <security-settings
              v-if="activeTab == 'security-settings'"
            ></security-settings>
          </div>
        </div>
      </div>
    </f7-block>
  </f7-page>
</template>
<script>
import { mapGetters, mapMutations } from "vuex";
import StatementPeriod from "./profile/statement-period";
import UpdateProfile from "./profile/update-profile";
import BankAccount from "./profile/bank-account";
import PersonalDocument from "./profile/personal-document";
import TaxResidency from "./profile/tax-residency";
import SecuritySettings from "./profile/security-setting";
import NavBar from "../components/tools/nav-bar";
export default {
  components: {
    StatementPeriod,
    UpdateProfile,
    BankAccount,
    PersonalDocument,
    SecuritySettings,
    TaxResidency,
    NavBar
  },
  data() {
    return {
      filter: 0,
      user: [],
      activeTab: "update-profile"
    };
  },
  computed: {
    ...mapGetters(["getUser"])
  },
  mounted() {
    this.getDummy();
  },
  methods: {
    update() {
      alert(1);
    },
    updateTab(tab) {
      this.activeTab = tab;
    },
    getDummy() {
      // axios
      //   .get("http://localhost:59163/api/product/list?filter=" + this.filter)
      //   .then(response => {
      //     console.log(response);
      //   });

      axios.get("https://randomuser.me/api/").then(response => {
        this.user = response.data.results[0];
      });
    },
    getImage() {
      if (!_.isEmpty(this.user)) {
        return this.user.picture.large;
      }
    },
    getName() {
      if (!_.isEmpty(this.user)) {
        return (
          this.user.name.title +
          " " +
          this.user.name.first +
          " " +
          this.user.name.last
        );
      }
    }
  }
};
</script>
