<template>
    <f7-page id="statement">
        <nav-bar title="Trade"></nav-bar>
    </f7-page>
</template>
<script>
    import NavBar from "../components/tools/nav-bar";
    export default {
        components: {
            NavBar
        }
    };

</script>
