<template>
  <f7-page id="trade" hide-toolbar-on-scroll>
    <nav-bar title="Trade"></nav-bar>

    <div class="block">
      <div class="row">
        <div class="col">
          <h3 class="color-navy text-align-center">
            Please, Select transaction
          </h3>
          <a href="purchase/" class="tradebtn purchase ">
            <i class="icon f7-icons">rocket</i>
            <div>Purchase</div>
          </a>
          <a href="redeem/" class="tradebtn redeem">
            <i class="icon f7-icons">gear_alt</i>
            <div>Redeem</div>
          </a>
        </div>
      </div>
    </div>
  </f7-page>
</template>
<script>
import NavBar from "../components/tools/nav-bar";
export default {
  components: {
    NavBar
  }
};
</script>
