<template>
  <div :class="[alertStatus,message.type]" class="alert-wrapper">
    <div class="alert-icon">
      <f7-icon f7="exclamationmark_triangle_fill"></f7-icon>
    </div>
    <div class="alert-inner">
      <div class="alert-title">{{toUpper(message.title)}}</div>
      <div class="alert-body">{{toUpper(message.body)}}</div>
    </div>
    <div @click="closeAlert()" class="alert-close">
      <f7-icon f7="xmark_circle_fill"></f7-icon>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    message: {
      value: Object | Array,
      default: () => {}
    }
  },
  watch: {
    message() {
      this.alertStatus = " animated headShake ";
    }
  },
  data() {
    return {
      alertStatus: " animated headShake "
    };
  },
  methods: {
    toUpper(str) {
      return _.startCase(_.toLower(str));
    },
    closeAlert() {
      this.alertStatus = " animated fadeOutUp";
      // let value = document.getElementsByClassName("alert-wrapper");
      // console.log(value.classList);
      // value.style.display = "none";
    }
  }
};
</script>

<style lang="scss" scoped>
.danger {
  background-color: #e74c3c;
}
.success {
  background-color: #2ecc71;
}
.visible {
  visibility: visible !important;
}

.alert-wrapper {
  position: absolute;
  top: -10%;
  left: 10%;
  right: 10%;
  animation-duration: 1s;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;

  .alert-icon {
    width: 20%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      font-size: 40px;
    }
  }
  .alert-close {
    padding: 10px;
    .icon {
      font-size: 20px;
    }
  }
  .alert-inner {
    width: 70%;
    display: flex;
    flex-direction: column;
    .alert-title {
      width: 100%;
      font-weight: 800;
    }
    .alert-body {
      font-size: 12px;
      width: 100%;
    }
  }
}
</style>
