<template>
  <div>
    <alert-component
      ref="alertComponent"
      v-for="(value, key) in messages"
      :key="key"
      :message="value"
    ></alert-component>
  </div>
</template>

<script>
import AlertComponent from "./alert-component";
export default {
  components: {
    AlertComponent
  },
  props: {
    messages: {
      value: String | Object,
      default: () => []
    }
  }
};
</script>

<style lang="scss" scoped>
.danger {
  background-color: #e74c3c;
}
.success {
  background-color: #2ecc71;
}
.alert-wrapper {
  position: fixed;
  top: 10%;
  z-index: 100;
  left: 10%;
  right: 10%;
  animation-duration: 1s;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  //visibility: hidden;
  color: #fff;
  padding: 5px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;

  .alert-icon {
    width: 20%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      font-size: 40px;
    }
  }
  .alert-close {
    padding: 10px;
    .icon {
      font-size: 20px;
    }
  }
  .alert-inner {
    width: 70%;
    display: flex;
    flex-direction: column;
    .alert-title {
      width: 100%;
      font-weight: 800;
    }
    .alert-body {
      font-size: 12px;
      width: 100%;
    }
  }
}
</style>
