<template>
  <div class="radio-wrapper">
    <button
      class="radio-button no-ripple"
      :class="radioValue == true ? 'radio-active' : ''"
      @click="radioValue=true"
    >Yes</button>
    <button
      class="radio-button no-ripple"
      :class="radioValue == false ? 'radio-active' : ''"
      @click="radioValue=false"
    >No</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      radioValue: true
    };
  },
  watch: {
    radioValue() {
      this.$emit("input", this.radioValue);
    }
  },
  mounted() {
    this.$emit("input", this.radioValue);
  }
};
</script>

<style lang="scss" scoped>
.radio-wrapper {
  display: flex;
  justify-content: space-around;
  .radio-button {
    padding: 10px;
    border-radius: 5px;
    flex-basis: 40%;
    border: 0;
  }

  .radio-active {
    background: #434248;
    color: #fff;
  }
}
</style>