<template>
  <li class="item-content file-container-li item-input item-input-outline">
    <div class="item-inner file-input-wrap">
      <div class="file-input-holder">
        <div class="item-title item-floating-label">{{title}}</div>
        <div class="item-input-wrap">
          <input v-model="file" type="text" placeholder="Choose File" />
        </div>
      </div>
      <button @click="onBrowse" class="upload-button button flex-1">BROWSE</button>
    </div>
    <input
      type="file"
      ref="fileInput"
      @change="onChangeFile($event)"
      class="file-input"
      name="file-input"
      hidden="hidden"
    />
  </li>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      file: ""
    };
  },
  methods: {
    onBrowse() {
      this.$refs.fileInput.click();
    },
    onChangeFile(event) {
      this.file = event.target.value;
    }
  }
};
</script>
<style lang="scss" scoped>
.file-container-li {
  padding-left: 0px !important;
  margin-top: 15px;

  .item-floating-label {
    margin-top: calc(
      -0.7 * (var(--f7-label-font-size) * var(--f7-label-line-height))
    );
  }
}

.file-input-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.upload-button {
  width: 30%;
  min-height: 100%;
  background: #5a6059;
  color: white;
}

.item-input-focus {
  .item-floating-label {
    background: orange !important;
  }
}

.file-input-holder {
  .item-title {
    min-width: 20%;
    max-width: 65%;
  }

  .item-input-wrap {
    position: unset;
  }

  width: 70% !important;
}
</style>