<template>
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <!-- Additional "sliding" class -->
      <div class="left sliding">
        <div class="left">
          <a class="link" href="/home/notifications/">
            <i class="icon f7-icons">bell</i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
      </div>
      <!-- Additional "sliding" class -->
      <div class="title sliding">{{ title }}</div>
      <div class="right">
        <a class="link" @click="logout" href="#">
          <i class="icon f7-icons">square_arrow_right</i>
          <span class="if-not-md">Back</span>
        </a>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapMutations } from "vuex";
export default {
  props: {
    title: {
      value: String,
      default: ""
    }
  },
  methods: {
    ...mapMutations(["setUser"]),
    logout() {
      this.setUser({ username: "", lname: "", fname: "" });
      this.$f7.tab.show("#view-home");
    }
  }
};
</script>
