<template>
  <div id="stepper">
    <div class="block">
      <div class="guage-wrap">
        <div class="row">
          <div class="col-33">
            <f7-gauge
              type="circle"
              :size="90"
              :value="guageValue"
              :value-text="currentStep"
              value-text-color="#000"
              border-color="#a18e31"
              :border-width="9"
              :label-text="'of ' + stepCount"
              label-text-color="#4caf50"
              :label-font-weight="800"
              :label-font-size="12"
            ></f7-gauge>
          </div>
          <div class="col-66">
            <div class="title color-navy text-align-right">
              {{ steps[currentStep - 1] }}
              <br />
              <span v-if="currentStep < stepCount">
                Next - {{ steps[currentStep] }}
                <slot name="next"></slot>
              </span>
              <span v-else>You're almost there!</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="items">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    steps: {
      value: Object | Array,
      default() {
        return [];
      }
    },
    stepCount: {
      value: Number,
      default: 0
    }
  },
  data() {
    return {
      currentStep: 1,
      guageValue: 1.0 / this.stepCount,
      guageRate: 0,
      guageFinalValue: 0
    };
  },
  mounted() {
    this.hideItems();
  },
  methods: {
    hideItems() {
      let item = document.getElementsByClassName("item");
      _.each(item, value => {
        value.style.display = "none";
      });

      let selectedItem = document.getElementsByClassName(
        "item-" + this.currentStep
      )[0];

      selectedItem.style.display = "block";
    },

    isActive(i) {
      if (i == this.currentStep) {
        return "active";
      }
      return "";
    },
    next(i) {
      this.currentStep = i;

      this.guageValue = (1.0 / (this.stepCount + 1)) * i;
      let selectedItem = document.getElementsByClassName(
        "item-" + this.currentStep
      )[0];

      this.hideItems();

      selectedItem.style.display = "block";
    }
  }
};
</script>

<style lang="scss" scoped>
#stepper {
  background: transparent;
  .guage-wrap {
    // margin: 15px 35px;
    .title {
      text-align: right;
      margin-top: 20px;
      font-size: 16px;
      font-weight: 800;
      span {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .steps {
    display: flex !important;
    justify-content: center;
    .step {
      background: rgba(161, 142, 49, 0.5);
      height: 10px;
      width: 50px;
      padding: 0px;
      margin: 10px;
      border-radius: 2px;
    }

    .active {
      background: #a18e31;
    }
  }
  .items {
    .item {
      height: 120px;
    }
  }
}
</style>
