<template>
  <f7-app :params="f7params">
    <!-- Left panel with cover effect-->
    <f7-panel left cover theme-light>
      <f7-view>
        <f7-page>
          <f7-navbar title="Left Panel"></f7-navbar>
          <f7-block>Left panel content goes here</f7-block>
        </f7-page>
      </f7-view>
    </f7-panel>

    <!-- Right panel with reveal effect-->
    <f7-panel right reveal theme-dark>
      <f7-view>
        <f7-page>
          <f7-navbar title="Right Panel"></f7-navbar>
          <f7-block>Right panel content goes here</f7-block>
        </f7-page>
      </f7-view>
    </f7-panel>

    <!-- Views/Tabs container -->
    <f7-views tabs class="safe-areas">
      <!-- Tabbar for switching views-tabs -->
      <f7-toolbar class="main-toolbar" tabbar bottom-md bottom-ios dark>
        <f7-link tab-link="#view-home" icon-md="material:home" icon-ios="material:home"></f7-link>
        <f7-link
          tab-link="#view-profile"
          icon-md="material:person_outline"
          icon-ios="material:person_outline"
        ></f7-link>
        <f7-link tab-link="#view-history" icon-md="material:history" icon-ios="material:history"></f7-link>
        <f7-link tab-link="#view-trade" icon-md="material:swap_vert" icon-ios="material:swap_vert"></f7-link>
        <f7-link
          tab-link="#view-list"
          icon-md="material:library_books"
          icon-ios="material:library_books"
        ></f7-link>
      </f7-toolbar>

      <!-- Your main view/tab, should have "view-main" class. It also has "tab-active" class -->
      <f7-view id="view-home" @tab:show="checkIfLogin()" main tab url="/home/"></f7-view>

      <f7-view id="view-profile" name="profile" tab url="/home/profile/"></f7-view>

      <!-- Catalog View -->
      <f7-view id="view-catalog" name="catalog" tab url="/home/catalog/"></f7-view>

      <!-- History View -->
      <f7-view id="view-history" name="hitory" tab url="/home/history/"></f7-view>

      <!-- Trade View -->
      <f7-view id="view-trade" name="trade" tab url="/home/trade/"></f7-view>

      <!-- Settings View -->
      <f7-view id="view-list" name="list" tab url="/home/list/"></f7-view>
    </f7-views>

    <!-- Popup -->
    <f7-popup ref="popup" id="my-popup" swipe-to-close>
      <f7-view>
        <f7-page>
          <!-- navbar luma -->

          <!-- <f7-navbar title="Redemption Request (1643713884)" class="redemption">
            <div class="left">
              <f7-link popup-close>
                <i class="f7-icons">xmark_square_fill</i>
              </f7-link>
            </divt>
          </f7-navbar>-->

          <!-- navbar bago -->
          <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
              <!-- Additional "sliding" class -->
              <div class="left sliding">
                <div class="left">
                  <a class="link popup-close" href="#">
                    <i class="icon f7-icons">xmark_square_fill</i>
                    <!-- <span class="if-not-md">Back</span> -->
                  </a>
                </div>
              </div>
              <!-- Additional "sliding" class -->
              <div class="title sliding text-align-left">Redemption Request (1643713884)</div>
              <!-- <div class="right">
        <a class="link" @click="logout" href="#">
          <i class="icon f7-icons">square_arrow_right</i>
          <span class="if-not-md">Back</span>
        </a>
              </div>-->
            </div>
          </div>
          <f7-block>
            <f7-row>
              <f7-col width="40" class="start">reference #:</f7-col>
              <f7-col width="60" class="end">#1643713884</f7-col>
            </f7-row>
            <f7-row>
              <f7-col width="40" class="start">DATE REQUESTED:</f7-col>
              <f7-col width="60" class="end">9/30/2019 7:15:23 AM</f7-col>
            </f7-row>
            <f7-row>
              <f7-col width="30" class="start">ACCOUNT #:</f7-col>
              <f7-col width="70" class="end">Primary Account (13424323)</f7-col>
            </f7-row>
            <f7-row>
              <f7-col width="40" class="start">FUND NAME:</f7-col>
              <f7-col width="60" class="end">Balance Equity Fund USD</f7-col>
            </f7-row>
            <f7-row>
              <f7-col width="50" class="start">AMOUNT REQUESTED:</f7-col>
              <f7-col width="50" class="end">$ 1, 586.00</f7-col>
            </f7-row>
            <f7-row>
              <f7-col width="40" class="start">values in share:</f7-col>
              <f7-col width="60" class="end">282.23</f7-col>
            </f7-row>
            <f7-row>
              <f7-col width="40" class="start">status:</f7-col>
              <f7-col width="60" class="end">
                <span>Completed</span>
              </f7-col>
            </f7-row>
            <div class="divider"></div>
            <p class="title">bank details</p>
            <f7-row>
              <f7-col width="40" class="start">ACCOUNT NUMBER:</f7-col>
              <f7-col width="60" class="end">292132</f7-col>
            </f7-row>
            <f7-row>
              <f7-col width="40" class="start">ACCOUNT NAME:</f7-col>
              <f7-col width="60" class="end">Daryl Murrell</f7-col>
            </f7-row>
            <div class="background">
              <p class="notif">
                You will receive and email notification when this redemption
                funds has been settled.
              </p>
            </div>
          </f7-block>
        </f7-page>
      </f7-view>
    </f7-popup>
  </f7-app>
</template>
<script>
import { mapGetters } from "vuex";

import cordovaApp from "../js/cordova-app.js";
import routes from "../js/routes.js";

export default {
  data() {
    return {
      // Framework7 Parameters
      f7params: {
        id: "io.framework7.kensington", // App bundle ID
        name: "Kensington", // App name
        theme: "auto", // Automatic theme detection
        // App root data

        // App routes
        routes: routes,

        // Login screen data
        username: "",
        password: ""
      }
    };
  },
  computed: {
    ...mapGetters(["getUser"])
  },
  methods: {
    checkIfLogin() {
      //console.log(this.$f7.params);
      if (this.getUser.username == "") {
        this.$f7.views.main.router.navigate("/auth/");
      }
    }
  },

  mounted() {
    this.$f7ready(f7 => {
      // Init cordova APIs (see cordova-app.js)
      if (f7.device.cordova) {
        cordovaApp.init(f7);
      }
      // Call F7 APIs here
      this.$f7.tab.show("#view-home");

      //this.$f7.loginScreen.open("#login");
    });
  }
};
</script>
