$primary: #a18e31;
$secondary: #434248;
@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans/FiraSans-Regular.ttf);
}

@font-face {
  font-family: FiraSans-SemiBold;
  src: url(../fonts/FiraSans/FiraSans-SemiBold.ttf);
}

// navbar
.navbar .navbar-inner .title{
  font-size: 16px;
}
// end

.dialog {
  left: 50%;
  right: 50%;
  top: 16%;
  .dialog-buttons {
    .dialog-button {
      background: $secondary;
    }
  }
}

.dialog-backdrop {
  display: none;
}

.page-content {
  background-color: #f6fafd;
}

.list {
  ul {
    background-color: transparent;

    li {
      margin-top: 10px;
      border-radius: 3px;

      .list-button {
        margin-top: 30px;
      }
    }
  }
}

.framework7-root {
  font-family: FiraSans;
}

/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

.button {
  border-radius: 5px;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #fff;
  --f7-theme-color-rgb: #fff;
  --f7-theme-color-shade: #a18e31;
  --f7-theme-color-tint: #a18e31;
  --f7-list-border-color: transparent;
}

/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #434842;
  --f7-bars-link-color: #434842;
  --f7-navbar-subtitle-text-color: rgba(255, 255, 255, 0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #a18e31;
  --f7-tabbar-link-inactive-color: #434842;
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: transparent;

  .main-toolbar {
    --f7-tabbar-link-active-border-color: transparent;
    --f7-tabbar-link-active-bg-color: #434842;
  }

  --f7-input-outline-border-radius: 0px;
  --f7-input-outline-border-color: #000;
}

.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255, 255, 255, 0.1);
}

// .f7-icons{
//     background-color: #a18e31;
//     font-size: 20px;
//     padding: 7px 9px;
//     color: #fff;
//     border-radius: 5px;
// }

// .navbar .icon{
//     font-size: 18px !important;
// }

.navbar-large-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 0;
  --g: 122;
  --b: 255;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}

.theme-dark .navbar-large-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

/* Your app custom styles here */
.navbar {
  .navbar-inner {
    .title {
      width: 100%;
      color: #434842;
      text-align: center;
    }
  }

  .icon {
    font-size: 20px;
  }
}

.tab-links {
  height: 100px;
  padding: 2px;
  margin-top: -25px;
  margin-bottom: 0px;
}

.tab-links {
  .toolbar {
    height: 100%;
    background-color: transparent !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .tab-link {
      font-size: 12px;
      border: none !important;
      text-align: center;
      width: 30%;
      flex-wrap: nowrap;

      .icon {
        color: #a18e31;
        border: #a18e31 2px solid;
        border-radius: 50%;
        padding: 10px;
      }

      span {
        max-width: 80px;
        height: 30px;
        margin-top: 10px;
        color: #434842;
      }
    }

    .tab-link-active {
      .icon {
        color: #fff;
        background-color: #a18e31 !important;
        border: #e4c83e 2px solid;
      }
    }
  }
}

.color-navy {
  color: #434842;
}

.profile-block {
  background-color: #5a6059 !important;
  padding: 25px;
  width: 100%;
  margin: 0 !important;
  min-height: 150px;
  text-align: center;

  .profile-photo {
    width: 70px;
    height: 70px;
    border: 3px solid white;
    border-radius: 50%;
  }

  h2 {
    color: white;
    margin: 0;

    small {
      font-size: 12px;
      font-weight: 100;
    }
  }
}

//start profile
#profile {
  --f7-theme-color: #434842;
  .list {
    ul {
      background-color: transparent;

      li {
        margin-top: 10px;
        border-radius: 3px;

        .list-button {
          margin-top: 30px;
        }
      }
    }

    // background-color: #434842;
    .item-input-outline {
      padding: 0;
      .item-inner {
        padding: 0;
      }
      .item-floating-label {
        //background-color: #434842;
        background-color: #f6fafd;
        color: #434842;
      }
    }
  }
}
//end profile

.bg-info {
  background-color: rgba(90, 96, 89, 0.05);
}

.fw-700 {
  font-weight: 700;
}

.primary {
  a {
    color: #fff !important;
    text-align: center;
  }
  color: #fff !important;
  background-color: #a18e31;
}

.light {
  a {
    color: #434842 !important;
    text-align: center;
  }
  color: #434842 !important;
  border: 1px solid #434842;
  background-color: #fff;
}

.secondary {
  a {
    color: #fff !important;
    text-align: center;
  }
  color: #fff !important;
  background-color: #434842;
}

.danger {
  background-color: #e74c3c;
}

.input-dropdown select {
  color: #434842;
  font-weight: 600;
}

#profile-tabs {
  margin: 0;
  padding: 0;

  .tabs {
    justify-content: flex-start;

    .tab {
      .block-title {
        padding: 0;
        margin: 10px;
      }
    }
  }
}

#bank-account-view {
  .accordion-list {
    .accordion-item {
      border-radius: 5px;
      border-top: 6px solid #434842;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.24);
    }

    .accordion-item-content {
      .block {
        padding: 15px;

        .row {
          width: 50%;
        }
      }
    }
  }
}

.bg-danger {
  background-color: red;
}

.table {
  width: 100%;
}

navbar-inner {
  background-color: #434842;
}

.navbar .title {
  color: #fff;
}

.block {
  margin-top: 15px;
  margin-bottom: 15px;
}

.modal-link {
  font-size: 12px;
  background-color: transparent;
  color: #a18e31;
  text-decoration: underline;
  text-align: left;
  margin: 0;
  padding: 0;
}

.timeline-item-title {
  font-size: 14px;
  color: #434842;
}

.redemption {
  font-size: 16px;
  color: #434842;
}

.start {
  text-transform: uppercase;
  margin-bottom: 5px;
  opacity: 0.6;
  color: #434842;
  font-size: 14px;
}

.end {
  text-align: right;
  margin-bottom: 5px;
  text-transform: capitalize;
  color: #434842;
  font-size: 16px;
  font-weight: 400;
}

.end span {
  background-color: #2ecc71;
  text-transform: uppercase;
  padding: 4px;
  border-radius: 3px;
  color: #fff;
  margin: 0;
}

.divider {
  border-bottom: 1px solid #707070;
  display: block;
  margin: 30px auto;
  width: 100%;
}

p.title {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #434842;
}

.background {
  background-color: rgba(250, 239, 149, 0.4);
  width: 100%;
  border-radius: 10px;
}

p.notif {
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: #434842;
}

.p-10 {
  padding: 10px;
}

.accordion-list {
  margin: 15px 0 !important;
}

.list ul {
  border-radius: 5px;
}

#settings {
  //.list .item-inner {
  //    padding-bottom: 0px;
  //}

  .list .item-link .item-inner:before {
    color: #434842;
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -1px -1px 1px 0 rgba(255, 255, 255, 0),
      1px 1px 1px 0 rgba(0, 0, 0, 0.16);
    margin-top: -25px !important;
  }

  .accordion-item-opened {
    .item-link .item-inner:before {
      box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.16) !important;
    }
  }

  .list .item-title {
    text-transform: uppercase;
    font-size: 12px;
    // letter-spacing: 1px;
    margin-bottom: 0;
    color: #434842;
  }

  .list .item-title {
    text-transform: uppercase;
    font-size: 12px;
    // letter-spacing: 1px;
    margin-bottom: 0;
    color: #434842;
  }

  .accordion-item {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.24);
    margin-top: 0;
  }

  //.accordion-item-content {
  //    padding-bottom: 15px;
  //}
}

//end #settings

.fund-name {
  font-size: 16px;
  margin: 0;
  color: #434842;
  font-weight: 600;
}

.price {
  margin-top: 0px;
  font-size: 16px;
  color: #1abc9c;
  margin-bottom: 5px;
}

.price .date {
  font-size: 14px;
  opacity: 0.4;
  color: #434842;
  //    vertical-align: middle;
}

.divider-overview {
  border-bottom: 1px solid #707070;
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 2px;
}

.divider-top {
  border-bottom: 7px solid #434842;
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 2px;
}

p.account {
  text-transform: uppercase;
  text-decoration: underline;
  color: #434842;
  font-size: 12px;
  // letter-spacing: 0.5px;
  font-weight: 600;
  opacity: 0.7;
}

p.sub {
  margin: 0 0 7px;
  font-size: 14px;
  color: #434842;
  text-transform: uppercase;
  opacity: 0.6;
}

p.value {
  text-align: right;
  margin: 0 0 7px;
  font-size: 14px;
  color: #434842;
}

span.value {
  font-weight: 600;
  color: #2ecc71;
}

span.value .f7-icons {
  font-size: 16px;
}

.swipeout-actions-right {
  height: 100%;
}

//timeline

.timeline-item-divider {
  background-color: #a18e31;
}

#trade {
  height: 100vh;

  .block {
    height: 50vh;

    .row {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      margin: 0;

      .col {
        height: 15%;
        display: flex;
        justify-content: space-around;

        flex-wrap: wrap;

        h3 {
          width: 100%;
        }

        .tradebtn {
          padding: 10px 16px;
          display: flex;
          align-items: center;
          justify-content: center;

          flex-direction: column;
          background-color: #434842;

          color: white;
          text-align: center;
          text-decoration: none;
          font-size: 16px;
          border-radius: 3px;

          i {
            flex-basis: 100%;
            padding: 0;
            margin: 0;
            font-size: 50px;
          }

          div {
            flex-basis: 100%;
            padding: 0;
            margin: 0;
          }
        }

        .redeem {
          border: 2px solid #434842;
          background-color: white;
          color: #434842;
        }
      }
    }
  }
}

//end trade

//start pruchase-review
#review {
  .list {
    .item-checkbox {
      .icon-checkbox {
        margin-right: 10px;
      }

      .item-title {
        font-size: 12px;
      }
    }
  }
}

//end review

//start login
#login {
  background-image: linear-gradient(
    to bottom,
    #434842,
    #4c5743,
    #586542,
    #6a723e,
    #7f7f39
  );

  .logo {
    width: 190px;
    height: 160px;
  }

  .page-content {
    background: transparent;
    --f7-input-outline-border-color: #fff;

    a {
      color: #fff;
    }
  }

  .list {
    ul {
      li {
        border-radius: 3px;
        .list-button {
          margin-top: 10px;
        }
      }
    }

    // background-color: #434842;
    .item-input-outline {
      .item-floating-label {
        //background-color: #434842;
        background-color: transparent;
        color: #fff;
      }
    }

    .item-input-focused,
    .item-input-with-value {
      .item-floating-label {
        background-color: #636e40 !important;
      }
    }

    .bg-white {
      background-color: white;
      margin-top: 10px;

      a {
        color: #434842 !important;
      }
    }
  }

  --f7-theme-color: #fff;
}

//end login

//start login-page
#login-page {
  --f7-input-outline-border-color: #fff;
  --f7-theme-color: #fff;

  input {
    color: #fff !important;
  }

  .page-content {
    background-image: linear-gradient(
      to bottom,
      #434842,
      #4c5743,
      #586542,
      #6a723e,
      #7f7f39
    );
    display: flex;
    justify-content: center;
    align-items: center;

    .block {
      flex-basis: 100%;

      .logo-holder {
        text-align: center;

        .logo {
          width: 190px;
          height: 160px;
        }
      }
    }

    .list {
      ul {
        background-color: transparent;

        li {
          margin-top: 10px;
          border-radius: 3px;
          color: #fff;

          .list-button {
            margin-top: 30px;
          }
        }
      }

      // background-color: #434842;
      .item-input-outline {
        padding: 0;

        .item-inner {
          padding: 0;
        }

        .item-floating-label {
          //background-color: #434842;
          background-color: transparent;
          color: #fff;
        }
      }

      .item-input-focused,
      .item-input-with-value {
        .item-floating-label {
          background-color: #636e40 !important;
        }
      }
    }

    .register {
      color: white;

      a {
        text-decoration: underline;
        font-weight: 600;
      }
    }
  }
}

//end login-page

//start register
#register {
  --f7-theme-color: #434842;

  .list {
    ul {
      background-color: transparent;

      li {
        margin-top: 10px;
        border-radius: 3px;

        .list-button {
          margin-top: 30px;
        }
      }
    }

    // background-color: #434842;
    .item-input-outline {
      padding: 0;
      .item-inner {
        padding: 0;
      }
      .item-floating-label {
        //background-color: #434842;
        background-color: #f6fafd;
        color: #434842;
      }
    }
  }
}
//end register

//notification
#notification {
  .card {
    padding: 1px 10px;
    margin: 0 0 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.24);
  }

  p.subject {
    color: #434842;
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: 600;
  }

  p.time {
    color: #434842;
    font-size: 12px;
    opacity: 0.6;
    text-transform: uppercase;
  }
}

//notification-body

#notification-body {
  .card {
    padding: 1px 10px;
    margin: 0 0 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.24);
    color: #434842;
  }

  .card span {
    font-weight: 600;
  }

  .s.link {
    color: #3498db !important;
  }

  p.subject {
    margin-bottom: 0px;
  }

  p.receiver {
    font-size: 12px;
    opacity: 0.6;
  }
}

//statement

#statement {
  .search-list {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.24);
    margin: 0;
    padding: 0;
  }

  .item-content {
    padding: 0 5px;
  }

  .item-inner {
    padding: 0 5px;
  }
}
