<template>
  <div class="block">
    <!-- <f7-block-title small class="fw-700 color-navy text-align-center">PAPERLESS STATEMENT</f7-block-title> -->
    <div class="color-navy"
    >Your half-year statement, tax vouchers and distribution advice will be delivered to your online document store as well as sent through the post.
    </div>
    <div class="color-navy"
    ><p>
      We'll send an email t o the email registered to notifify you of new documents. if you do not wish to receive paper copies you can select the paperless service below.
    </p>
    </div>
    <div class="color-navy">
      <b>Note: this will not affet other correspondence types such as contract notes.</b>
    </div>
    <div class="text-align-center">
      <p>Opt Out From Post Statements:</p>
      <radio v-model="radioValue"></radio>
    </div>
      <f7-list>
        <f7-list-input outline label="Adviser Referral Code (Optional)" floating-label type="text"></f7-list-input>
      </f7-list>
      <f7-button class="secondary" @click="next()">Register</f7-button>
  </div>
</template>
<script>
import Radio from "../../../components/tools/custom-radio";
export default {
  components: {
    Radio
  },
  data() {
    return {
      countries: [],
      radioValue: ""
    };
  },
  mounted() {
    this.getCountries();
  },
  methods: {
    getCountries() {
      axios.get("https://restcountries.eu/rest/v2/all").then(response => {
        this.countries = response.data;
      });
    },
    next() {
      this.$emit("next");
    }
  }
};
</script>