<template>
  <div class="block">
    <!-- <f7-block-title small class="fw-700 color-navy text-align-center">PERSONAL INFORMATION</f7-block-title> -->
    <alert-message :messages="errors"></alert-message>

    <div class="list">
      <ul>
        <li class="item-content item-input item-input-outline">
          <div class="item-inner">
            <div class="item-title item-floating-label">Firstname</div>
            <div class="item-input-wrap">
              <input type="text" v-model="fname" name="name" placeholder="Firstname" />
            </div>
          </div>
        </li>
        <li class="item-content item-input item-input-outline">
          <div class="item-inner">
            <div class="item-title item-floating-label">Lastname</div>
            <div class="item-input-wrap">
              <input type="text" v-model="lname" name="name" placeholder="Lastname" />
            </div>
          </div>
        </li>
      </ul>
    </div>

    <f7-list>
      <f7-list-input
        outline
        label="Telephone Number"
        floating-label
        type="text"
        placeholder="Telephone Number"
      ></f7-list-input>
      <f7-list-input
        outline
        label="Cellphone Number"
        floating-label
        type="text"
        placeholder="Cellphone Number"
      ></f7-list-input>
      <f7-list-input outline label="Address 1" floating-label type="text" placeholder="Address 1"></f7-list-input>
      <f7-list-input outline label="Address 2" floating-label type="text" placeholder="Address 2"></f7-list-input>
      <f7-list-input outline label="Address 3" floating-label type="text" placeholder="Address 3"></f7-list-input>
      <f7-list-input outline label="Town/City" floating-label type="text" placeholder="Town/City"></f7-list-input>
      <f7-list-input outline label="Country" defaultValue="0" floating-label type="select">
        <option value="0">Select Country</option>
        <option v-for="(country, key) in countries" :key="key" :value="key">{{ country.name }}</option>
      </f7-list-input>
      <f7-list-input
        outline
        label="Currency"
        :defaultValue="1"
        floating-label
        type="select"
        placeholder="Currency"
      >
        <option value="1">USD</option>
        <option value="2">GBP</option>
      </f7-list-input>
    </f7-list>
    <div class="row">
      <div class="col">
        <f7-button class="light" @click="$f7router.back()" small>CANCEL</f7-button>
      </div>
      <div class="col">
        <f7-button class="secondary" @click="next()" small>NEXT</f7-button>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapMutations } from "vuex";
import { required, minLength } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      countries: [],
      errors: [],
      forn: []
    };
  },
  mounted() {
    this.getCountries();
  },
  methods: {
    getCountries() {
      axios.get("https://restcountries.eu/rest/v2/all").then(response => {
        this.countries = response.data;
      });
    },
    next() {
      this.errors = [];
      this.$v.$touch();
      if (this.$v.$invalid) {
        _.each(this.$v.form.$params, (value, key) => {
          if (!this.$v.form[key].required) {
            this.errors.push({
              title: key,
              body: "Field is required",
              type: "danger"
            });
          }
        });
      } else {
        this.$emit("next");
      }
    }
  },
  validations: {
    form: {
      fname: {
        required
      },
      lname: {
        required
      },
      tel_number: {
        required
      },
      mob_number: {
        required
      },
      address_1: {
        required
      },
      address_2: {
        required
      },
      address_3: {
        required
      },
      town: {
        required
      },
      country: {
        required
      },
      default_currency: {
        required
      }
    }
  }
};
</script>
