<template>
  <f7-page no-toolbar id="register">
    <f7-navbar title="Register" back-link="Back"></f7-navbar>
    <stepper ref="stepperComponent" :steps="steps" :stepCount="4">
      <div class="item item-1">
        <personal-information @next="next(2)"></personal-information>
      </div>
      <div class="item item-2">
        <tax-residency @back="back(1)" @next="next(3)"></tax-residency>
      </div>
      <div class="item item-3">
        <security-settings @back="back(2)" @next="next(4)"></security-settings>
      </div>
      <div class="item item-4">
        <paperless-statement></paperless-statement>
      </div>
    </stepper>
  </f7-page>
</template>
<script>
import Stepper from "../../../components/tools/stepper";

import PersonalInformation from "./personal-information";
import TaxResidency from "./tax-residency";
import SecuritySettings from "./security-settings";
import PaperlessStatement from "./paperless-statement";
export default {
  components: {
    Stepper,
    PersonalInformation,
    TaxResidency,
    SecuritySettings,
    PaperlessStatement
  },
  data() {
    return {
      countries: [],
      steps: [
        "Personal Information",
        "Tax Residency",
        "Security Settings",
        "Paperless Statements"
      ]
    };
  },
  mounted() {
    this.getCountries();
  },
  methods: {
    getCountries() {
      axios.get("https://restcountries.eu/rest/v2/all").then(response => {
        this.countries = response.data;
      });
    },
    next(value) {
      this.$refs.stepperComponent.next(value);
    },
    back(value) {
      this.$refs.stepperComponent.next(value);
    }
  }
};
</script>
