<template>
  <div class="block">
    <!-- <f7-block-title small class="fw-700 color-navy text-align-center">SECURITY SETTINGS</f7-block-title> -->
    <f7-list>
      <f7-list-input
        outline
        label="Email Address"
        floating-label
        type="text"
        placeholder="Email Address"
      ></f7-list-input>
      <f7-list-input outline label="Password" floating-label type="text" placeholder="Password"></f7-list-input>
      <f7-list-input
        outline
        label="Memorable Question"
        :defaultValue="2"
        floating-label
        type="select"
        placeholder="Memorable Question"
      >
        <option value="1">Kanino kang anak?</option>
        <option value="2">Kumain ka na ba?</option>
      </f7-list-input>
      <f7-list-input outline label="Answer" floating-label type="text" placeholder="Answer"></f7-list-input>
    </f7-list>
    <div class="row">
      <div class="col">
        <f7-button class="light" @click="$emit('back')" small>BACK</f7-button>
      </div>
      <div class="col">
        <f7-button class="secondary" @click="next()" small>NEXT</f7-button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      countries: []
    };
  },

  methods: {
    next() {
      this.$emit("next");
    }
  }
};
</script>
